# pip install torch==2.1.0 torchvision==0.16.0 torchaudio==2.1.0 --index-url https://download.pytorch.org/whl/cu118
# pip install pyg_lib torch_scatter torch_sparse torch_cluster torch_spline_conv -f https://data.pyg.org/whl/torch-2.1.0+cu118.html
torch_geometric
pytorch-lightning==2.1.0
pydantic
e3nn
torch_runstats
sacred
tensorboard
jarvis-tools
ase
pymatgen
pandas
jupyterlab
fire
transformers
wandb

# matbench
# git clone https://github.com/hackingmaterials/matbench
# pip install --user ./matbench
