torch>=2.0.0
pytorch-lightning>=2.0.0
dgl
torchmetrics
sacred
tensorboard
jarvis-tools
pymatgen
pandas
jupyterlab
pylint
fire
botocore
transformers
# torch and pytorch-lightning
# pip install torch==2.1.0 torchvision==0.16.0 torchaudio==2.1.0 --index-url https://download.pytorch.org/whl/cu118
# pip install lightning==2.1.0
# pip install torch_geometric
# pip install pyg_lib torch_scatter torch_sparse torch_cluster torch_spline_conv -f https://data.pyg.org/whl/torch-2.1.0+cu118.html

# matbench
# git clone https://github.com/hackingmaterials/matbench
# pip install --user ./matbench
